body{
	background-color: #111111;
}
table{
	background-color: #F1F1F1;
	table-layout: fixed;
}
td{
	width: 50px;
    height: 50px;
	text-align: center;    
    word-wrap: break-word;
    color: black;
	border: 2px #d1d1d1 solid;
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
}
#content{
    display: flex;
}
#bar{
    width:710.5px;
    height:75px;
    border: 2px #d1d1d1 solid;
    background-color: #F1F1F1;
}
#table td:hover{
	background-color: #999999;
}
#buttons{
    width:100%;
}
#buttons td:hover{
    background-color: #999999;
}
.show {display:block;}

#info{
    margin-left:-2px;
    float:right;
}

#title{
    text-align: center;
    width:250px;
    border: 2px #d1d1d1 solid;
    margin-left: 2px;
    margin-right: 2px;
}
#desc{
    padding:10px;
    text-align: left;
    vertical-align: top;
    height:259px;
}
#sec{
    vertical-align: top;
    text-align: center;
    height:107px;
}
#sec p {
    margin-bottom: 5px;
}